<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solvo.hoam">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_round_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <activity
            android:name=".presentation.AppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Launch"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Launch">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN"/>-->
            <!--                <category android:name="android.intent.category.LAUNCHER"/>-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".presentation.ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" />
        <activity
            android:name=".presentation.ui.activity.FilterActivity"
            android:label="@string/screen_filter"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.ui.activity.AdActivity"
            android:label="@string/screen_ad"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.ui.activity.ImageActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activity.AdActivity" />
        </activity>
    </application>

</manifest>